<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>IPP Calculator</title>
    <style type="text/css">
        .pad { padding: 0 5px; }
        thead.main td {padding: 0 5px; font-weight: bold;}
    </style>
</head>
<body>

<h1>IPP Calculator</h1>
<h5>
    Data from <a href="http://hockeydb.com" target="_blank">HockeyDb</a>
    and formula from <a href="https://twitter.com/woodguy55" target="_blank">@Woodguy55</a>. Please
    note that this site is for demo purposes and may go down at any time.
</h5>

<form method="post" action="/">
    <input id="url" name="url" type="text"
           style="width:400px"
           placeholder="Enter HockeyDB player page URL"
           value="" />
    <input type="submit" value="GO"/>
    Example: <a href="http://www.hockeydb.com/ihdb/stats/pdisplay.php?pid=89731" target="_blank">Drew Doughty</a>
</form>

{{{body}}}

</body>
</html>